<div id="<%= dom_id card_reader %>">
  <p>
    <strong>Count:</strong>
    <%= card_reader.count %>
  </p>

  <p>
    <strong>Last book:</strong>
    <%= card_reader.last_book %>
  </p>

  <p>
    <strong>Library:</strong>
    <%= card_reader.library_id %>
  </p>

</div>
