<h1>Editing card reader</h1>

<%= render "form", card_reader: @card_reader %>

<br>

<div>
  <%= link_to "Show this card reader", @card_reader %> |
  <%= link_to "Back to card readers", card_readers_path %>
</div>
