<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= author.address %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= author.book_id %>
  </p>

</div>
