<div id="<%= dom_id library %>">
  <p>
    <strong>Name:</strong>
    <%= library.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= library.owner %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= library.address %>
  </p>

</div>
